@page
@model Guia01.Pages.categorias.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Desea eliminar esta categoria?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Descripcion)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Categoria.Id" />
        <input type="submit" value="Sí, eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Cancelar, volver al listado</a>
    </form>
</div>
